/* v- for values, s- for selectors and m- for media */
/* 
  *  @value v-primary: #BF4040;
  *  @value s-black: black-selector;
  *  @value m-large: (min-width: 960px); 
*/

:root {
    --v-primaryColor: aquamarine;
    --v-secondaryColor: red;
    --width: 800px;
}

body {
    background-color: var(--v-primaryColor);
}

.test-variables {
    background-color: var(--v-secondaryColor);
}